.yalo-bg-blue-300{
    background-color: var(--blue300) !important;
}

.yalo-bg-blue-800{
    background-color: var(--blue800) !important;
}

.yalo-bg-blueDark-600{
    background-color: var(--blueDark600) !important;
}

.yalo-bg-blueDark-900{
    background-color: var(--blueDark900) !important;
}

.yalo-bg-gray-400{
    background-color: var(--gray400) !important;
}

.yalo-blueDark-900{
    color: var(--blueDark900) !important;
}
